@font-face {
    font-family: "wt071";
    src: url("../fonts/wt071.ttf"); 
}


html, body {
    background-color: #bd2e30;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}  
    article {
        position: absolute;
        width: 70%;
        min-height: 50%;  
        margin: 0;
        padding: 0;
        opacity: 1;
        -webkit-transition: opacity 1000ms linear;
        transition: opacity 1000ms linear;
        z-index: 0;
    }  
    article.invisible {
        opacity: 0;
        position: absolute;
    } 
        article div {
            padding: 5% 0 0 20%;
            text-align: left;
            font-size: 2.3vh;
            font-family: "wt071";
            color: #ffdb82;
        }
    nav {
        position: absolute;
        width: 70%;
        height: 50%;
        overflow: hidden;
        align-self: flex-end;
        transition: height 1000ms linear, width 1000ms linear;
    }
    nav.expand{
        position: absolute;
        width: 100%;
        height: 100%;   
        bottom: 0;
        z-index: 10;
    }
        #main_table {
            position: absolute;
            width: 140%;
            height: auto;
            margin: 0;
            padding: 0;
            top: 0;
            right: 0;
        }
        #chair_1 {
            position: absolute;
            width: 15%;
            height: auto;
            top: 10%;
            left: 0;
        }
        #chair_1:hover {
            transform: scale(1.1,1.1);
            cursor: pointer;
        }
        #chair_2 {
            position: absolute;
            width: 15%;
            height: auto;
            top: 0;
            left: 20%;
        }
        #chair_2:hover {
            transform: scale(1.1,1.1);
            cursor: pointer;
        }
        #chair_3 {
            position: absolute;
            width: 15%;
            height: auto;
            top: 5%;
            left: 40%;
            cursor: pointer;
        }
        #chair_3:hover {
            transform: scale(1.1,1.1);
            cursor: pointer;
        }
        #chair_4 {
            position: absolute;
            width: 15%;
            height: auto;
            top: 20%;
            left: 58%;
        }
        #chair_4:hover {
            transform: scale(1.1,1.1);
            cursor: pointer;
        }
        #chair_5 {
            position: absolute;
            width: 15%;
            height: auto;
            top: 45%;
            left: 75%;
        }
        #chair_5:hover {
            transform: scale(1.1,1.1);
            cursor: pointer;
        }
    header {
        position: absolute;
        width: 30%;
        height: 100%;
        top: 0;
        right: 0;
        opacity: 1;
        -webkit-transition: opacity 1000ms linear;
        transition: opacity 1000ms linear;
    } 
    header.invisible {
        opacity: 0;
        /* display: none; */
    }
        #title {
            padding-top: 10%;
            width: 70%;
            max-height: auto;
        }    
    
        